#label {
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #E74C3C;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 2, 5);
}

#text {
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 2, 5);
}

#vBoxServers {
	
	-fx-background-color: #c2c2c2;
	-fx-padding: 20;
}
#vBoxServers:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 5, 0, 0, 0);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03; 
    -fx-cursor: hand;
}
#labelTitle {
	-fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: orange;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 2, 5);
}

#menu-bar {
    -fx-background-color: #c2c2c2;
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.menu {
    -fx-background-color: #E74C3C;
}

.menu .menu-item .label {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#tabpane {
	
	
	
}

.tab .tab-label {
    -fx-font-family: "Arial";
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #FF0000;
}